<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.5" id="daub" xml:lang="en">
  <author href="http://www.example.com/"
          rim:copyright="Copyright 2013 ">BRAPPS</author>
  <name>Daub</name>
  <content src="index.html">
      <rim:background src="background.html" runOnStartup="true" />
  </content>
  <icon src="images/icon-114.png"/>
  <rim:splash src="images/bb10-splash-portrait-768x1280.png"/>
  <feature id="blackberry.app">
        <param name="orientation" value="portrait" />
        <param name="backgroundColor" value="0x000000" />
  </feature>
  <access uri="*" subdomains="true"></access>
  <feature id="blackberry.identity" required="true" version="1.0.0.0"/>
</widget>